@model ICS.Core.Dtos.Income.Client.IncomeClientServiceGroup

@{
	ViewData["Title"] = "Service group";
}

@using (Html.BeginForm("Create", "ServiceGroup", Model, FormMethod.Post))
{
	<h1>Создание группы</h1>
	<table class="table" border="1">
		<thead>
		</thead>
		<tbody id="tableBody">
			<tr>
				<td>Название</td>
				<td>@Html.TextBoxFor(x => x.Name)</td>
			</tr>
			<tr>
				<td colspan="2">Участники группы</td>
			</tr>
			<tr>
				<td>
					<label>Введите номер карты</label>
					<input type="text" id="cardNumber" />
				</td>
				<td>
					<input type="button" value="Добавить" id="btAddMember" />
				</td>
			</tr>
		</tbody>
	</table>
	<br />
	<br />
	<input type="submit" value="Сохранить" />
}
<script type="text/javascript">
	let btAddMember = document.getElementById("btAddMember");
	btAddMember.addEventListener("click", function () {
		let number = document.getElementById("cardNumber");
		$.get({
			url: '/ServiceGroup/GetMember/' + number.value,
			dataType: 'json',
			success: function (data) {
				var row = document.getElementById(data.cardNumber);
				if (row != null) {
					row.style = 'visibility:visible';
					var mem = document.getElementById("me" + data.cardNumber);
					mem.value = data.cardNumber;
				}
				else {
					let tableBody = document.getElementById("tableBody");
					var newRow = tableBody.insertRow();
					newRow.style = 'visibility:visible'
					newRow.id = data.cardNumber;

					var newCell1 = newRow.insertCell(0);
					var newCell2 = newRow.insertCell(1);

					var newText = document.createElement('input')
					newText.type = 'text';
					newText.value = data.lastName + ' ' + data.firstName + ' ' + data.pastName;
					newCell1.appendChild(newText);

					var newButton = document.createElement('input')
					newButton.type = 'button';
					newButton.value = 'Удалить';
					newButton.addEventListener("click", function () {
						var block = document.getElementById(data.cardNumber);
						var mem = document.getElementById("me" + data.cardNumber);
						mem.value = "";
						block.style.visibility = 'collapse';
					});
					newCell2.appendChild(newButton);

					var cell = newRow.insertCell(2);
					cell.style.visibility = 'collapse';
					var text = document.createElement('input');
					text.id = "me" + data.cardNumber;
					text.name = 'ClientCardNumbers';
					text.type = 'text';
					text.value = data.cardNumber;
					cell.appendChild(text);
				}
			}
		});
	});
</script>

