@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на сайт автоматизированной велосипедной парковки</h1>
    <p>Данный сайт позволяет просматривать парковки, бронировать парковочное место на определённую 
    дату, отслеживать историю парковок и подавать обращение в случае, если вас что-то не устраивает</p>
</div>
